.lw { font-size: 60px; }
body
{
font-family: "Open Sans", Arial, sans-serif;
    /* font-size: 16px; */
    /* font-weight: 500; */
    padding: 10px 40px 10px 40px;
    line-height: 2;

        color: whitesmoke;
    padding: 10px 40px 10px 40px;
    background-color: #5f5f5f;
}
button {
    float: right;
    background-color: #054d96;

    color: white;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
select
{
    font-size: medium;
}


#page_number ul, #page_number li, #page_number a {
    background: white;
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    list-style: none;
    text-transform: none;
    text-indent: 0px;
    font-variant: normal;
    text-align: left;
    line-height: 12px;
    letter-spacing: 0px;
    word-spacing: 0px;
    font-size: 11px;
    font-family: Arial;
}
  #page_number li{  background-color: #5f5f5f;}
#page_number a {
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 2px;
    margin-right: 2px;
    display: block;
    color: #333;
    border: 1px solid #bfbfbf;
}

li
{
    float: left;
        display: inline;
}
#page_number a:hover {
    background-color: yellow;
}
#page_number a:active {
    background-color: red;
}